header {
  background: url(../images/heroimage.jpg) center / cover;
  height: 60vh;
  justify-content: center;
  text-align: center;
}

h1 {
  color: hsla(0, 0%, 0%, 1);
  font-weight: bold;
  margin-top: 0;
}

.slogan {
  color: hsla(0, 0%, 0%, 1);
  font-weight: regular;
  font-size: 1.6 rem;
}
main {
  max-width: 900px;
}

.featured-project__title {
  margin-bottom: 0px;
}

.project-description {
  /* padding: 0;*/
  text-align: left;
  /* margin: 0 auto;
  margin-bottom: 10px; */
}

.project img {
  width: 100%;
}

.mdl-layout_content {
  margin-bottom: 50px;
}

body {
  padding-bottom: 5rem;
  /* min-height: 100%; */
}

footer.mdl-mini-footer {
  bottom: 0;
  padding: 0.5rem;
  position: fixed;
  width: 100%;
  z-index: 1;
}
footer.mdl-mini-footer > ul {
  margin: auto;
  font-size: 2rem;
}
@media screen and (max-width: 1024px) {
  header.mdl-layout_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
